body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-background-primary);
  background: linear-gradient(
    180deg,
    var(--color-background-primary) 0%,
    var(--color-background-secondary) 10.45%,
    var(--color-background-tertiary) 41.35%
  );
}

body::before {
  content: "";
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--color-white) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.05;
}

/* svelte body div */
#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
